<!DOCTYPE html>
<html>
    <head>
        <title>The Dangerous Kingdom - Only the toughest animals on the planet are worthy!</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    </head>
    <body>
        <div id="main_nav" class="ui inverted menu">
            <a class="item nav_item" href="/animals"><i class="tree icon"></i>
            </a>
            <a class="item nav_item" href="/animals">
                Random Animal
            </a>
            <a class="item nav_item" href="/animals/new">
                New Entry
            </a>
            <div class="right menu">
                <a class="item nav_item" href="/animals">
                    About
                </a>
                <a class="item nav_item" href="/animals">
                    Contact Us
                </a>           
            </div>
        </div>